.logo {
	display: none;

	@media (min-width: 768px) {
		display: initial;
	}
}

.logoMobile {
	@media (min-width: 768px) {
		display: none;
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--page-max-width);
	margin: 0 auto;
	padding: 0 0.5rem;

	@media (min-width: 768px) {
		display: grid;
		padding: 0;
		width: 96%;
		justify-items: normal;
		grid-template-columns: 0.25fr 1fr 0.25fr;
	}
}

.navbar_right {
	display: flex;
	align-items: center;
	gap: 1rem;

	@media (min-width: 768px) {
		gap: 2rem;
	}
}
