/* ========== search results ========== */
.result_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.result_item {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  background: var(--color-white);
  height: 210px;
  overflow: hidden;
  cursor: pointer;
  z-index: 5;
  transition: box-shadow 0.3s ease-in, z-index 0.3s ease-in;
  position: relative;
}
.result_item:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 10;
}

.result_body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.result_thumbnail {
  display: none;
}
.result_title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
.result_user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.result_user_photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.result_username {
  font-size: 0.75rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result_preview {
  font-size: 0.85rem;
  text-overflow: ellipsis;
  overflow: hidden;
  /* Addition lines for 2 line or multiline ellipsis */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .result_thumbnail {
    display: block;
    width: 25%;
    aspect-ratio: 1;
    border-radius: var(--card-radius);
  }
  .result_item {
    height: 180px;
  }
}
